@tailwind base;
@tailwind components;
@tailwind utilities;


.link-with-gradient {
    @apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
  @apply bg-clip-text text-transparent;
  background-size: 200% auto;
  animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
